<div class="col-md-4">
    <img class="logo" src="../img/logo.png" width="200">
</div>
<div class="col-md-8">
    <div class="tabs">
        <uib-tabset active="activeJustified" justified="true">
            <uib-tab ng-repeat="cat in menu  track by $index" index="{{$index}}" heading="{{cat.name}}">
                <div id="products" class="list-group">
                    <div ng-repeat="item in cat.items" class="item col-xs-12 list-group-item">
                        <div class="thumbnail">

                            <div class="caption">
                                <h4 ng-attr-contenteditable="{{isEdit}}" ng-model="item.name"
                                    class="group inner list-group-item-heading "
                                    ng-class="isEdit ? 'form-control' : ''">
                                    {{item.name}}</h4>
                                <p class="group inner list-group-item-text">
                                    {{item.description}}
                                </p>
                                <div class="row">
                                    <div class="col-xs-12 col-md-6">
                                        <p ng-attr-contenteditable="{{isEdit}}"
                                           ng-model="item.price" class="lead"
                                           ng-class="isEdit ? 'form-control' : ''">
                                            {{item.price}}</p>
                                    </div>

                                </div>
                                <div ng-show="admin" class="row">
                                    <div class="col-xs-12 col-md-6">
                                        <button ng-click="edit()" ng-if="!isEdit" class="btn btn-success">Edit</button>
                                        <button ng-click="ok()" ng-if="isEdit" class="btn btn-info">Ok</button>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </uib-tab>

        </uib-tabset>
    </div>
</div>
